@import "../mixins.scss";

.features-section {
	margin: 100px auto 150px;
	text-align: center;

	.main-text-wrapper {
		display: grid;
		grid-template-columns: 25vw 30px auto 30px 25vw;
		grid-template-areas: 
		"...   ...    title-div  ...   ..."
		"...  select  select   select  ...";
		row-gap: 50px;
		margin-bottom: 50px;
		
		.title-div {
			grid-area: title-div;

			h2 { margin-top: 0}
			p { margin-bottom: 0}
		}
		
		// Feature Navigators
		.select {
			grid-area: select;

			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;

			option {
				color: rgb(145, 148, 161);
				padding: 5px 15px;
				cursor: pointer;

				&.active {
					color: white;
					&:hover {
						color: white !important;
					}
				}
			}

			position: relative;
			.highlight-active-option {
				z-index: -1;
				position: absolute; 
				top: 0; left: 0;
				height: 100%; width: 201px;
				transition: all .2s ease-in-out;
				border-radius: 25px;
				background: hsl(231, 69%, 60%);
			}
		}
	}


	.feature1, .feature2, .feature3 {
		// display initially applied to feature1
		display: none;
		&.show-feature {
			display: initial !important;
		}

		.text-wrapper {
			text-align: left;
			margin-right: 50px;
			padding: 30px 0;

			.cta {
				@include cta-box(hsl(231, 69%, 60%));
				margin: 25px 0  0 10px;
				padding: 15px 20px !important;
				color: white;
			}
		}

		.img-wrapper {
			float: left;
			margin-right: 100px;

			.feature-img {
				margin-left: 10vw;
			}

			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 70%; height: 80%;
				top: 30%; left: 0;

				background: hsl(231, 69%, 60%);
				border-radius: 0 0 50% 0;
				z-index: -1;
			}
		}
	}

	.feature1 .img-wrapper::after {
		height: 90%;
	}
}