@import '../../mixins.scss';

.download-section {
  text-align: center;

  .title-div {
    margin: 0 25vw;
  }

  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    // place cards accordingly
    $offset: 30px;
    @for $i from 0 through 2 {
      .card#{$i + 1} {
        position: relative;
        top: $offset * $i;
      }
    }

    [class^='card'] {
      width: 300px;
      margin: auto 2vw;
      padding: 30px 0;
      -webkit-box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      h3 {
        margin-bottom: 10px;
      }
      small {
        color: rgb(145, 148, 161);
      }
      .bg-dots {
        margin: 40px 0 20px;
      }
      .cta {
        @include cta-box(hsl(231, 69%, 60%), white);
        display: inline-block;
        padding: 15px 20px !important;
      }
    }
  }
}
