@use '../../variables';
@import '../../mixins.scss';

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: white;
}

.header-inner-wrapper {
  box-sizing: border-box;
  width: 100vw;
  padding: 50px 10vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-inner-wrapper .logo {
  margin: auto 0;
}

.header-inner-wrapper .menu-icon {
  display: none;
  cursor: pointer;
}

.header-inner-wrapper .navigation {
  flex: 0.1 0 450px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: space-between;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .navlink {
    text-transform: uppercase;
    letter-spacing: 1px;

    &.login {
      @include cta-box(#fa5757, white);
    }
  }
}

@media (max-width: variables.$breakpoint-3) {
  .header-inner-wrapper {
    position: relative;

    .menu-icon {
      display: initial;
    }
    .navigation {
      position: absolute;
      top: 110%;
      right: 10vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      z-index: 2;
      background: rgba(83, 104, 223, 0.6);
      border-radius: 5px;

      clip-path: circle(100%);
      -webkit-clip-path: circle(100%);

      -webkit-transition: -webkit-clip-path 0.5s;
      transition: -webkit-clip-path 0.5s;
      -o-transition: clip-path 0.5s;
      transition: clip-path 0.5s;
      transition: clip-path 0.5s, -webkit-clip-path 0.5s;

      &.hide {
        clip-path: circle(0 at 100% 0);
        -webkit-clip-path: circle(0 at 100% 0);
      }
      .navlink {
        color: white;
        margin: 10px;
      }
    }
  }
}
