@mixin cta-box($bg-color, $text-color: rgba(0, 0, 0, 0.6)) {
	background-color: $bg-color;
	color: $text-color;

	display: inline-block;
	padding: 10px 30px;

	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.239) 0 2px 10px;

	transition: all .2s;

	// Hover
	// exclude input:hover but apply them to input:focus
	&:not(.email):hover, &.email:focus {
		background-color: white;
		
		@if $bg-color == white {
			color: $text-color !important;
			border-color: $text-color;
		} @else {
			color: $bg-color !important;
			border-color: $bg-color;
		} 
	}
}