@import "../mixins.scss";

.join-section {
	padding: 50px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

	text-align: center;
	background: rgb(83, 104, 223);
	color: white;

	> * {
		margin: 20px auto;
	}

	> small {
		text-transform: uppercase;
		letter-spacing: 5px;
	}

	form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row nowrap;
		        flex-flow: row nowrap;
		
		.email, button {
			border: none;
		}
		.input-wrapper {
			margin-right: 20px;
			position: relative;
			
			.email {
				@include cta-box(white, grey);
				padding-left: 20px;
				width: 200px;
				outline: none;

				&.error {
					-webkit-transition: none;
					-o-transition: none;
					transition: none;
					background: white url("../../images/icon-error.svg") right 10px center no-repeat;
				}
			}
			.error-message {
				display: none;
				position: absolute;
				top: 105%; left: 0; right: 0;

				padding: 2px 0;
				font-size: .6em;
				background: rgba(250, 87, 87, .8);
				border-radius: 10px;
			}
		}
		
		button {
			@include cta-box(rgb(250, 87, 87), white);
			font-weight: bold;
			cursor: pointer;
		}
	}
}