@import "../mixins.scss";

.navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 50px 10vw;

	.logo {
		margin: auto 0;
	}
	.menu-icon {
		display: none;
		cursor: pointer;
	}
	.navigation {
		flex: 0 0 500px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.navlink {
			text-transform: uppercase;
			letter-spacing: 1px;
			
			&.login {
				@include cta-box(#fa5757, white);
			}
		}
	}
}