@use './variables';

:root {
  font-size: 18px;
  line-height: 1.5;
  scroll-behavior: smooth;
  scroll-padding-top: variables.$page-margin-top;

  @media all and (min-width: variables.$bp-tab-lg) {
    font-size: 1.27vw;
  }

  #root {
    > section,
    > footer {
      padding-inline: variables.$main-padding-inline;
    }
  }

  @media all and (max-width: variables.$bp-mobile-lg) {
    font-size: 1.05rem;

    #root > section {
      padding-inline: variables.$main-padding-inline-mobile;
    }
  }
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  color: variables.$color-text-dark;

  h1,
  h2,
  h3 {
    font-weight: 500;
  }
  h1 {
    font-size: variables.$fs-1;
  }
  h2 {
    font-size: variables.$fs-2;
  }
  h3 {
    font-size: variables.$fs-3;
  }

  p {
    font-size: variables.$fs-4;
    color: variables.$color-text-p;
    line-height: 2;
  }
  a,
  button,
  input {
    text-decoration: none;
    font-weight: inherit;
    font-size: variables.$fs-5;
  }
  a {
    color: inherit;
  }

  option {
    font-size: variables.$fs-4;
  }
}
